/**
 * @name My Theme - Horizontal Server List
 * @author KanjiuAkuma
 * @version 1
 * @description My private discord theme
 * @source https://github.com/KanjiuAkuma/bd-stuff
 * @website https://github.com/KanjiuAkuma/bd-stuff
 * @invite 
 */

/* Credits to Gibbu for making the original version */
@import url("https://discordstyles.github.io/HorizontalServerList/base.css");

:root {
  --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
  --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
  --server-container: calc(var(--server-size) + 20px);
}