/**
 * @name My Theme - Hover Member List
 * @author KanjiuAkuma
 * @version 1
 * @description My private discord theme
 * @source https://github.com/KanjiuAkuma/bd-stuff
 * @website https://github.com/KanjiuAkuma/bd-stuff
 * @invite 
 */

/* Credits to PurpleWizzard for making the original version */

:root {
    --size-hidden: 10; /* percentage shown, when the member list is hidden */
    --transition-time: 300ms; /* time it takes for the member list to show/hide */

    /* internal variables */
    --px-hidden: calc((263 * (1 - var(--size-hidden) / 100)) * 1px);
    --chat-margin-right: calc(263px - var(--px-hidden));
}

.membersWrap-2h-GB4, .membersWrap-2h-GB4 .scroller-2FKFPG {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

/* GROUP HEADER */
.membersGroup-v9BXpm {
    opacity: 0;
    transition: all var(--transition-time);
}

.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    transition: all var(--transition-time);
    opacity: 1;
}

/* PRE-HOVER DIV to fix spam-open bugs */

.membersWrap-2h-GB4:before {
    width: 15px;
    content: "";
}

/* MOVE THE MEMBERLIST DIV TO THE RIGHT */
/* 263 is all the way to the right */

.membersWrap-2h-GB4 {
    -webkit-transform: translateX(var(--px-hidden));
    transform: translateX(var(--px-hidden));
    position: absolute;
}

/* MEMBERLIST CONTENT */

.members-1998pB {
    width: 265px;
    overflow: hidden;
    border-radius: .5em 0 0 .5em;
    transition: all 500ms;
    -webkit-transition: all var(--transition-time);
}

.membersWrap-2h-GB4:hover .members-1998pB {
    -webkit-transform: translateX(-237px);
    transform: translateX(-237px);
    overflow: auto;
    width: 265px!important;
    transition: all var(--transition-time);
}

/* RESIZE CHAT CONTENT TO SHOW THE SCROLLBAR */

.chatContent-a9vAAp { margin-right: var(--chat-margin-right);}