/**
 * @name My Theme - Hover Member List
 * @author KanjiuAkuma
 * @version 1
 * @description Hover Member List
 * @source https://github.com/KanjiuAkuma/bd-stuff
 * @website https://github.com/KanjiuAkuma/bd-stuff
 * @invite 
 */

/* 
Credits to PurpleWizzard for making the original 
version for the member list https://github.com/GoldenLys/
This is just a port of his code to do the same 
with Devilbros Display Servers as Channels Plugin
https://github.com/mwittrien/BetterDiscordAddons/tree/master/Plugins/DisplayServersAsChannels/
*/

:root {
	--hsl-size-hidden: 5; /* percentage shown, when the server list is hidden */
	--hsl-transition-time: 300ms; /* time it takes for the server list to show/hide */
	--hsl-hover-area: 35; /* size of the area right of the server list, that reacts to mouse over */
	--hsl-background-color-shown: rgba(0, 0, 0, .9);
	--hsl-background-color-hidden: rgba(0, 0, 0, .1);

	/* internal variables */
	--hsl-px-hover: calc(var(--hsl-hover-area) * 1px);
	--hsl-px-hidden: calc((240 * (var(--hsl-size-hidden) / 100 - 1)) * 1px);
	--hsl-px-hidden-overflow: calc(240px * var(--hsl-size-hidden) / 100);
	--hsl-chat-margin-right: calc(263px - var(--hsl-px-hidden));
}

.wrapper-3NnKdC {
	transition: all var(--hml-transition-time);

	/* make server list overlap friends/server menu */
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;

	/* move to top so we can click it when its expaneded*/
	z-index: 999;

	/* move to left, out of the window */
	-webkit-transform: translateX(var(--hsl-px-hidden));
	transform: translateX(var(--hsl-px-hidden));

	/* style */
	opacity: .3;
	border-radius: .5em 0 0 .5em;
	background-color: var(--hml-background-color-hidden);


	/* add extra hoverable space to the right */
	padding-right: var(--hsl-px-hover);
}

.wrapper-3NnKdC:hover {
	transition: all var(--hsl-transition-time);

	/* make fully visible, change background, remove extra hover area */
	opacity: 1;
	background-color: var(--hsl-background-color-shown);
	padding-right: 5px;

	/* move to right, inside the window*/
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/* Fix overlapping with server/friends column */
.sidebar-2K8pFh {
	margin-left: var(--hsl-px-hidden-overflow);
}