/**
 * @name [ADDON] Hover Member List
 * @author Kami Kaze#0001
 * @version 1
 * @description Hover Member List Addon
 * @source https://github.com/KanjiuAkuma/bd-stuff
 * @website https://github.com/KanjiuAkuma/bd-stuff
 * @invite 
 */

/* 
Credits to PurpleWizzard for making the original version 
https://github.com/GoldenLys/
*/

:root {
	--hml-size-hidden: 30; /* percentage shown, when the member list is hidden */
	--hml-transition-time: 300ms; /* time it takes for the member list to show/hide */
	--hml-hover-area: 0; /* size of the area left of the member list, that reacts to mouse over */
	--hml-background-color-shown: rgba(0, 0, 0, .3);
	--hml-background-color-hidden: rgba(0, 0, 0, .1);

	/* internal variables */
	--hml-px-hover: calc(var(--hml-hover-area) * 1px);
	--hml-px-hidden: calc((263 * (1 - var(--hml-size-hidden) / 100)) * 1px);
	--hml-px-shown: calc(-1 * var(--hml-px-hidden));
	--hml-chat-margin-right: calc(263px - var(--hml-px-hidden));
}

.membersWrap-3NUR2t, .membersWrap-3NUR2t .scroller-2FKFPG {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

/* GROUP HEADER */
.membersGroup-v9BXpm {
	opacity: 0;
	transition: all var(--hml-transition-time);
}

.membersWrap-3NUR2t:hover .membersGroup-2eiWxl {
	transition: all var(--hml-transition-time);
	opacity: 1;
}

/* PRE-HOVER DIV to fix spam-open bugs */

.membersWrap-3NUR2t:before {
	width: var(--hml-px-hover);
	content: "";
}

/* MOVE THE MEMBERLIST DIV TO THE RIGHT */
/* 263 is all the way to the right */

.membersWrap-3NUR2t {
	-webkit-transform: translateX(var(--hml-px-hidden));
	transform: translateX(var(--hml-px-hidden));
	position: absolute;
}

/* MEMBERLIST CONTENT */

/* when hidden */
.membersWrap-3NUR2t .members-3WRCEx {
	transition: all var(--hml-transition-time);

	border-radius: .5em 0 0 .5em;
	background-color: var(--hml-background-color-hidden);
}

/* when shown */
.membersWrap-3NUR2t:hover .members-3WRCEx {
	-webkit-transform: translateX(var(--hml-px-shown));
	transform: translateX(var(--hml-px-shown));
	transition: all var(--hml-transition-time);
	background-color: var(--hml-background-color-shown);
}

/* RESIZE CHAT CONTENT TO SHOW THE SCROLLBAR */

/* 
chat-3bRxxu da-chat
content-yTz4x3 da-content
chatContent-a9vAAp da-chatContent 

aria-lable= " (channel)"
*/ 

.chatContent-3KubbW { 
	margin-right: var(--hml-chat-margin-right);
}

.chatContent-3KubbW[aria-label=" (channel)"] { 
	margin-right: 0px !important;
}