/**
 * @name [ADDON] Patch for my transparent theme
 * @author Kami Kaze#0001
 * @version 1
 * @description Fixes and minor changes to the base theme as well as addon compatibility patches.
 * @source https://github.com/KanjiuAkuma/bd-stuff
 * @website https://github.com/KanjiuAkuma/bd-stuff
 * @invite 
 */

/* Modifications */

/* remove clear vision watermark */
.wordmarkWindows-2dq6rw:before, .wordmarkWindows-2dq6rw:after {
	content: "" !important;
}.wordmark-2u86JB > svg {
	height: 0;
}

.container-YkUktl:before, .container-YkUktl:after {
	content: "" !important;
}

/* fix window button bar above 'content' */
.app-3xd6d0 {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* remove 'top column' for discord title bar, fix overlaying plugin repo */
.titleBar-AC4pGV {
	position: absolute;
	z-index: 9;
}

/* remove greem 'Add friend' button background color */
.themed-2-lozF {
	background: rgba(0, 0, 0, 0) !important;
}

/* remove space below self */
.container-YkUktl {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

/* adjust notification size, add rounding, make overlay, set to top (z-index) */
.notice-3bPHh- {
	width: 50%;
	align-self: center;
	border-radius: 5px !important;
	position: absolute;
	z-index: 101;
	margin-top: 10px !important;
}